{{!< default}}

{{#post}}

    <main class="content" role="main">
    <div class="inner black_bg">

    <article class="{{post_class}}">

        <!--<header class="post-header">-->
            <!--<h1 class="post-title">{{{title}}}</h1>-->
        <!--</header>-->

    {{#if image}}
            <div class="custom_title_img"
                 style="background-image: url('{{image}}')">

                <h1 class="custom_title_text" ;>
                    {{{title}}}
                </h1>
            </div>
    {{else}}
            <div class="custom_title_img"
                 style="background-image: url('http://image.sunchen.cc/normal_title_bg.jpg')">

                <h1 class="custom_title_text" ;>
                    {{{title}}}
                </h1>
            </div>
    {{/if}}



        <div id="push">

            <!--<header class="post-header">-->
            <!--<span class="post-meta">-->
            <!--<span class="post-author">{{author}}</span> | <span class="post-date">{{date format="DD MMM YYYY"}} <span class="post-reading-time">| <span class="estimated-reading-time"></span> (<span class="word-count"></span> words)</span></span>-->
            <!--</span>-->
            <!--<div class="clear"></div>-->
            <!--<h1 class="post-title">{{{title}}}</h1>-->
            <!--</header>-->

            <div class="custom_header">
                <div class="custom_author_icon_div">
                    <img class="custom_author_icon" src="{{author.image}}"/>

                </div>
                <div class="custom_title_info">
                    <span class="post-author">{{author}}</span>
                    <span style="color: #676767; font-size: 12px;">{{date format="YYYY MMMDD HH:mm"}}</span>
                </div>
            </div>

            <section class="post-content">
                {{content}}
            </section>


        </div>



    <!---->
        <!--<section class="post-content">-->
            <!--{{content}}-->
        <!--</section>-->

{{/post}}

</article>
</div>

</main>
