{{!< default}}

{{#post}}

    <main class="content" role="main">
    <article class="{{post_class}}">
    <div class="inner white_bg">



    {{#if image}}
            <div class="custom_title_img"
                 style="background-image: url('{{image}}')">

                <h1 class="custom_title_text" ;>
                    {{{title}}}
                </h1>
            </div>
    {{else}}
            <div class="custom_title_img"
                 style="background-image: url('http://7xwgdu.com1.z0.glb.clouddn.com/normal_bg.jpg')">

                <h1 class="custom_title_text" ;>
                    {{{title}}}
                </h1>
            </div>
    {{/if}}


        <div id="push">

            <header class="post-header">
				<span class="post-meta">
					<span class="post-author">{{author}}</span> | <span class="post-date">{{date format="DD MMM YYYY"}} <span class="post-reading-time">| <span class="estimated-reading-time"></span> (<span class="word-count"></span> words)</span></span>
				</span>
                <div class="clear"></div>
                <h1 class="post-title">{{{title}}}</h1>
            </header>

            <section class="post-content">
                {{content}}
            </section>

            <footer class="post-footer">
                <div class="post-tags">
                    {{tags separator=" "}}
                </div>

            </footer>

            <div class="comments">
                <!-- 多说评论框 start -->
                <div class="ds-thread" data-thread-key="{{id}}" data-title="{{title}}" data-url="http://4zen.top{{url}}"></div>
                <!-- 多说评论框 end -->
            </div>

        </div>

        <nav class="post-nav">
            {{#next_post}}
                <a class="post-nav-item post-nav-next" href="{{url absolute="true"}}">
                    <section class="post-nav-teaser">
                        <span class="post-nav-icon"><i class="icon-arrow-left"></i></span>
                        <span class="post-nav-info">
								<h4 class="post-nav-title">{{title}}</h4>
								<p class="post-nav-excerpt">{{excerpt words="12"}}&hellip;</p>
							</span>
                    </section>
                </a>
            {{/next_post}}
            {{#prev_post}}
                <a class="post-nav-item post-nav-prev" href="{{url absolute="true"}}">
                    <section class="post-nav-teaser">
                        <span class="post-nav-icon"><i class="icon-arrow-right"></i></span>
                        <span class="post-nav-info">
								<h4 class="post-nav-title">{{title}}</h4>
								<p class="post-nav-excerpt">{{excerpt words="12"}}&hellip;</p>
							</span>
                    </section>
                </a>
            {{/prev_post}}
            <div class="clear"></div>
        </nav>

{{/post}}
</div>
</article>
</main>
